@import 'fonts.scss';
@import 'home.scss';
@import 'single-event.scss';
@import 'calendar.scss';

body .show-content {
    font-family: 'Neris', 'Calibri', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;

    p { font-size: 16px; }
}

.short.footer {
    background: #75787B;
}

.spinner {
    position: relative;

    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    margin-left: -50px;
    width: 140px;
    text-align: center;
}

.spinner > div {
    width: 34px;
    height: 34px;
    background-color: #00A3E0;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}