.single-tribe_events {
    .main-container > section {
        padding-top: 22px;
    }

    font-family: 'Neris' !important;
    h2 {
        font-family: 'Neris';
        font-size: 2.6em;
    }
    h3 { font-size: 1.4em; }
    h4 { font-size: 1em; }

    .tribe-events-single-section {
        border-bottom: 1px solid lightgray;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .tribe-events-meta-group-details {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    }

    .tribe-events-abbr {
        font-weight: normal;
        font-size: 1em;

        .date {
            font-size: 2.1em;
            text-transform: capitalize;
        }

    }

    .tribe-events-time {
        font-weight: normal;
        font-size: 0.8em;
        color: #494949;

    }

    .tribe-event-program {
        margin: 15px 0 30px 0;
        p { font-size: 1.1em; }
    }

    .tribe-event-participants {
        margin: 40px 0 40px 0;

        .show-spots-left {
            font-size: 1.4em;
            padding-left: 5px;
            margin-bottom: 15px;
            color: #E03E52;

        }

        .show-participants .none {
            font-size: 1.2em;
            padding: 15px;
        }
        .show-participants ul {
            margin-left: 0;
            font-size: 1.2em;

            li {
                color: #005EB8;
                list-style: none;
                border-bottom: 1px solid #DFE6E8;
                padding: 10px 15px;

                .user-name {
                    display: inline-block;
                    font-weight: bold;
                }

                .service {
                    display: inline-block;
                    margin-left: 3em;
                }
            }
            li:last-child {
                border-bottom: 1px solid #DFE6E8;

            }


        }
    }

    .user-status {
        font-size: 1.4em;
        margin-bottom: 20px;

        .status {
            color: #48A23F;
            text-transform: lowercase;
            font-weight: bold;
        }
    }


    .user-subscribe button, .user-subscribe a {
        border: none;

/*        font-family: 'Neris';
        font-size: 1.2em;
        font-weight: bold;

        background: #00a3e0;
        color: white;

        display: block;

        margin-bottom: 25px;
        //padding: 7px 18px;
*/
        &.unsub {
            background: #E03E52;
        }
    }

}

.btn-book-event-big {
    margin: 35px 0 30px 0;

    .btn {
        border: none;

        text-align: center;
        font-family: 'Neris';
        font-size: 1.6em;
        font-weight: bold;

        background: #00a3e0;
        color: white;

        display: block;

        padding: 18px 0 22px 0;
        margin: 0 auto;
        width: 300px;

        &.disabled {
            background: #E03E52;
        }
    }
    .btn-big {
        width: 390px;
    }
    .btn-huge {
        width: 480px;
    }
}

#tribe-events .tribe-events-gcal {
    display: none !important;
}