.testimonials-list {
    background: none;

    li {
        background: #FBFBFB;
        border-left: 6px solid #E0E0E0;

        margin: 15px 3px;
        padding: 10px 15px 10px 20px;

        p {
            font-style: italic;
        }
    }
}