body .primary-overlay:before {
    color: white;
    content: '';
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: #C3D3AB !important;
}

.wpb_content_element .widgettitle {
    margin-bottom: 0.8em;
}

#wpum-form-register-register-home {
    /*margin-top: 2em;*/
}

.wpum-registration-form input {
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    background: rgba(200,200,200,0.3);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 32px;
    max-width: 90%;
    padding: 12px;
    padding-left: 24px;
}

.wpum-registration-form #password-strength {

    width: 90%;
}

.wpum-registration-form fieldset {
    width: 50%;
    float: left;
}

.wpum-registration-form .fieldset-last_name {
    margin-bottom: 35px;
}
.wpum-registration-form .fieldset-password {
    margin-bottom: 35px;
}


.wpum-registration-form fieldset label {
    width: 18%;
}

.wpum-registration-form fieldset div.field {
    width: 67%;
    float: left;
    margin-left: 2em;
}

#submit_wpum_register {
    width: 30%;
    height: 52px;
    margin: 10px 0 0 11.5%;
}


/* Event List */
.ecs-event-list {
    margin-top: 2em;
    margin-bottom: 1.4em;
}

.home .ecs-event-list .ecs-event {
    padding: 10px 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.home .ecs-event-list .ecs-event h4 {
    font-size: 1.2em;
    margin-bottom: 0;
    margin-right: 0.5em;
    display: inline-block;
}
.home .ecs-event-list .ecs-event h4 a:after {
    color: black;
    content: "-";
    padding-left: 0.6em;
}

.home .ecs-event-list .ecs-event > p {
    font-size: 1.2em;
    display: inline;
}

.home .ecs-event .tribe-event-date-start:first-letter {
    text-transform: uppercase;
}